<h1>Listing orders</h1>

<table>
  <tr>
    <th>Customer</th>
    <th>Pick up at</th>
    <th>Total</th>
    <th>Is delivery</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @orders.each do |order| %>
  <tr>
    <td><%= order.customer.full_name %></td>
    <td><%= order.pick_up_at %></td>
    <td><%= order.total %></td>
    <td><%= order.is_delivery %></td>
    <td><%= link_to 'Show', order %></td>
    <td><%= link_to 'Edit', edit_order_path(order) %></td>
    <td><%= link_to 'Destroy', order, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Order', new_order_path %>
