<div class="pageTitle">
  <h1>Edit <%= @menuitem.name %></h1>
</div>

<div class="toolbar">
  <div class="leftItem backButton">
    <a href="<%= url_for :action => :show, :id => @menuitem.object %>">Cancel</a>
  </div>
  <div class="rightItem regularButton">
    <a class="button" href="<%= url_for :action => :delete, :id => @menuitem.object %>">Delete</a>
  </div>
</div>

<div class="content">
  <form method="POST" action="<%= url_for :action => :update %>">
    <input type="hidden" name="id" value="<%= @menuitem.object %>"/>
    <ul>
      
          <li>
            <label for="menuitem[name]" class="fieldLabel">Name</label>
            <input type="text" name="menuitem[name]" value="<%= @menuitem.name %>" <%= placeholder( "Name" ) %> />
          </li>
      
          <li>
            <label for="menuitem[description]" class="fieldLabel">Description</label>
            <input type="text" name="menuitem[description]" value="<%= @menuitem.description %>" <%= placeholder( "Description" ) %> />
          </li>
      
          <li>
            <label for="menuitem[category_id]" class="fieldLabel">Category</label>
            <input type="text" name="menuitem[category_id]" value="<%= @menuitem.category_id %>" <%= placeholder( "Category" ) %> />
          </li>
      
          <li>
            <label for="menuitem[price]" class="fieldLabel">Price</label>
            <input type="text" name="menuitem[price]" value="<%= @menuitem.price %>" <%= placeholder( "Price" ) %> />
          </li>
      
    </ul>
    <input type="submit" class="standardButton" value="Update"/>
  </form>
</div>